@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vazir";
  src: url(./asset/Fonts/Vazirmatn-Regular.ttf);
}
@font-face {
  font-family: "lale";
  src: url(./asset/Fonts/Lalezar-Regular.ttf);
}

.show {
  top: 0;
  transition: all ease 1s;
}
.hidden {
  top: -999;
  transition: all ease 1s;
}
